<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="Log\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<variable
		name="date_cus"
		value="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
	
	<variable
	name="line_separate"
	value="-------------------------------------------------------------------------------" />
	
	<variable
		name="layout_ic"
		value="${date_cus}| ${level}${newline}${logger}|${message}|${exception}${newline}${line_separate}" />

	<targets async="true">
		<target 
			xsi:type="Database" 
			name="database" 
			dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
			connectionString="Data Source=localhost,1439;Initial Catalog=School;Persist Security Info=True;User ID=sa;Password=123456@Abc">
			<commandText>
				INSERT INTO ErrorLog
				(Id, Message, MachineName, Exception, Created)
				VALUES
				(NEWID(), @messageParam, @machinenameParam, @exception, GETDATE())
			</commandText>
			<parameter name="@messageParam" layout="${message}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@machinenameParam" layout="${machinename}" />
		</target>

		<target
			xsi:type="File"
			name="file"
			encoding="UTF-8"
			layout="${layout_ic}"
			fileName="Log/${shortdate}/log.txt">
		</target>
	</targets>

	<rules>
		<!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Error" writeTo="database" />
	</rules>
</nlog>