<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="Log\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.Http" />
	</extensions>

	<variable
		name="date_cus"
		value="${date:format=yyyy-MM-dd HH\:mm\:ss}" />

	<variable
	name="line_separate"
	value="-------------------------------------------------------------------------------" />

	<variable
		name="layout_ic"
		value="${date_cus}| ${level}${newline}${logger}|${message}|${exception}${newline}${line_separate}" />

	<targets async="true">
		<target
			xsi:type="Database"
			name="database"
			dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
			connectionString="Data Source=localhost,1439;Initial Catalog=School;Persist Security Info=True;User ID=sa;Password=123456@Abc">
			<commandText>
				INSERT INTO ErrorLog
				(Id, Message, MachineName, Exception, Created, CreatedBy)
				VALUES
				(NEWID(), @messageParam, @machinenameParam, @exception, GETDATE(), @userid)
			</commandText>
			<parameter name="@messageParam" layout="${message}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@machinenameParam" layout="${machinename}" />
			<parameter name="@userid" layout="${event-properties:item=userid}" />
		</target>

		<target
			xsi:type="File"
			name="file"
			encoding="UTF-8"
			layout="${layout_ic}"
			fileName="Log/${shortdate}/log.txt">
		</target>

		<target name="elk"
			xsi:type="HTTP"
			ContentType='application/json'
			Accept='application/json'
			URL="http://localhost:8080">
				<header name='token' value='123'/>
				<layout type="JsonLayout">
					<attribute name='sys_id' layout='Zolo' />
					<attribute name='host' layout='${machinename}' />
					<attribute name='userid' layout='${event-properties:item=username}' />
					<attribute name='level' layout='${level:upperCase=true}' />
					<attribute name='source' layout='${logger}' />
					<attribute name='thread' layout='${threadid}' />
					<attribute name='message' layout='${message}' />
					<attribute name='exception' layout='${exception:tostring}' />
					<attribute name='utc' layout='${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}' />
				</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
		<!--ghi log vào elk-->
		<logger name="elk" minlevel="Info" writeTo="elk" />
		<!--ghi log vào db-->
		<logger name="*" minlevel="Error" writeTo="database" />
	</rules>
</nlog>