<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="Log\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<variable
		name="date_cus"
		value="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
	
	<variable
	name="line_separate"
	value="-------------------------------------------------------------------------------" />
	
	<variable
		name="layout_ic"
		value="${date_cus}| ${level}${newline}${logger}|${message}|${exception}${newline}${line_separate}" />

	<targets async="true">
		<target
			xsi:type="File"
			name="file"
			encoding="UTF-8"
			layout="${layout_ic}"
			fileName="Log/${shortdate}/log.txt">
		</target>
	</targets>

	<rules>
		<!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>